@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$main-font: 'Poppins', sans-serif;
$main-color: #FE3D2B;
$second-color: #FFC003;
$main-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$transition: 0.4s ease all;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;

}

@mixin center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@mixin between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    font-family: $main-font;
    overflow-x: hidden;
}

input,
textarea,
button {
    outline: none;
    background: transparent;
    border: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;

    background-color: #eee;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: $main-color;
    border: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.scroll-btn {
    z-index: 100;
    opacity: 0;
    font-size: 18px;
    border-radius: 50%;
    visibility: hidden;
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: $main-color;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    width: 45px;
    cursor: pointer;
    animation: backto-top-bounce 4s infinite ease-in-out;
    height: 45px;
    @include center;
    box-shadow: $main-shadow;
    transition: $transition;

    &.show {
        transition: $transition;
        opacity: 1;
        visibility: visible;
    }

    &:hover {
        background-color: #C91A1F;
        transform: translateY(-5px);

    }
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 40px;

    li {
        width: 35px;
        height: 35px;

        border-radius: 50%;
        margin-right: 10px;
        transition: $transition;

        a {

            @include center;
            cursor: pointer;
            width: 100%;
            border-radius: 50%;
            height: 100%;
            transition: $transition;

            &:hover {
                box-shadow: $main-shadow;
                transform: translateY(-5px);
            }

            i {
                color: #fff;
                font-size: 15px;
            }
        }




    }
}

header {
    .social-list {
        margin-top: 0;
    }
}

/*HEADER*/
header {
    &.general-header {
        padding: 10px 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        z-index: 99;

        .header-top {
            .header-search {
                .search-form {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid #fff;
                    border-radius: 5px;

                    input {
                        padding-left: 8px;
                        width: 100%;
                        max-width: 150px;
                        height: 40px;
                        color: #fff;

                        &.input-about {
                            max-width: 100%;
                        }

                        &::placeholder {
                            color: #fff;
                        }
                    }

                    button {
                        width: 100%;
                        max-width: 40px;
                        height: 37px;
                        transition: $transition;
                        color: #fff;
                    }
                }
            }
        }

        .header-bottom {
            padding-top: 15px;

            .header-logo {
                margin-top: -60px;
                display: block;
            }

            .nav {
                .nav-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    width: 100%;

                    .nav-item {
                        .nav-link {
                            font-size: 15px;
                            color: #fff;
                            font-weight: 400;
                            transition: $transition;
                            position: relative;
                            letter-spacing: .2px;

                            &::after {
                                content: "";
                                display: block;
                                position: absolute;
                                bottom: 0;
                                width: 0%;
                                height: 1.4px;
                                margin: auto;
                                left: 0;
                                right: 0;
                                transition: $transition;
                                background-color: #fff;
                            }

                            &.active::after {

                                width: 100%;

                            }

                            &:hover::after {
                                width: 100%;
                                right: 10px;
                            }
                        }
                    }
                }
            }
        }

        &.header-fixed {
            position: fixed !important;
            top: 0;
            transition: $transition;
            left: 0;
            z-index: 99;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            background-color: #fff !important;
            width: 100%;

            .header-top {
                .header-search {
                    .search-form {
                        border: 1px solid #6666;

                        input {
                            color: #303030;

                            &::placeholder {
                                color: #666;
                            }
                        }

                        button {
                            color: #666;
                        }
                    }
                }
            }

            .header-bottom {
                .nav {
                    .nav-list {
                        .nav-item {
                            .nav-link {
                                color: #303030;

                                &:hover {
                                    color: $main-color ;
                                }

                                &::after {
                                    background-color: $main-color;
                                }

                            }
                        }
                    }
                }
            }
        }

        &.general-header-2 {
            background-color: #fff;
            position: relative;

            .header-top {
                .header-search {
                    .search-form {
                        border: 1px solid #3C3C3C;

                        input {
                            padding-left: 8px;
                            width: 100%;
                            max-width: 150px;
                            height: 40px;
                            color: #3C3C3C;
&::placeholder{
    color: #3C3C3C;
}
                           
                        }

                        button {
                            color:#3C3C3C;
                        }
                    }
                }
            }

            .header-bottom {
                .nav {
                    .nav-list {
                        .nav-item {
                            .nav-link {
                                color: #333;



                                &::after {

                                    background-color: $main-color;
                                }

                                &:hover,
                                &.active {
                                    color: $main-color;
                                }


                            }
                        }
                    }
                }
            }
        }
    }

    &.header-mobile {
        line-height: 65px;

        display: none;
        background-color: #fff;
        z-index: 1000;

        .header-mobile-top {
            border-bottom: 1px solid #ddd;
.search-content{
  position: relative;
    .search-wrapper{
 display: none;
  &.active{
   display: block;
  
  }
     
        .search-form{
            position: absolute;
            top: 80px;
            left: 20px;
            z-index: 99;
            width: 300px;
            transition: $transition;
            background-color: rgb(3, 3, 0,0.8);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
            @include center;
            padding: 10px;
            input{
                background-color: #fff;
                padding:0 10px;
                width: 80%;
                font-size: 13.5px;
              
                height: 40px;
                &::placeholder{
                    color: #798082;
                }
            }
            button{
                height: 40px;
                overflow: hidden;
                color: #fff;
                @include center;
                width: 20%;
                background-color: #030303;
                transition: $transition;
                &:hover{
                    background-color: #798082;
                }
            }
        }
    }
}
            .nav-menu-btn,
            .nav-menu-search {
                color: #303030;
                font-size: 25px;
                margin-right: 10px;
                margin-top: 4px;
                cursor: pointer;
            }
        }

        .header-mobile-menu {
            line-height: 30px;
         
            width: 340px;

            text-align: left;
            height: 80vh;
            background-color: #fff;
            z-index: 99;
            position: fixed;
            top: 0;
            left: 0;
          
            transition: $transition;
            
transform: translateX(-400px);
            &.show {
                transform: translateX(0);
                
            }

            .header-mobile-top {
                padding: 10px;
                position: relative;

                .logo {
                    img {
                        width: 100%;
                        max-width: 160px;
                    }
                }

                .close-menu {
                    background-color: #333;
                    width: 30px;
                    position: absolute;
                    top: 15px;
                    right: 10px;
                    cursor: pointer;
                    @include center;
                    height: 30px;
                    border-radius: 50%;
                    color: #fff;
                    transition: $transition;

                    &:hover {
                        background-color: #C91A1F;
                    }
                }
            }

            .nav {
                .nav-list {
                    width: 100%;

                    li {
                        width: 100%;
                        border-bottom: 1px solid #ddd;

                        a {
                            color: #000;
                            position: relative;
                            font-size: 15px;
                            font-weight: 400;
                            transition: $transition;

                            &::after {
                                position: absolute;
                                content: "";
                                bottom: 0;
                                left: 0;
                                width: 0;
                                height: 1px;
                                background-color: $main-color;
                                border-radius: 3px;
                                transition: $transition;
                            }

                            &:hover::after {
                                width: 100%;
                            }

                            &:hover {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
        }

    }
}

/*BANNER SECTION*/
.banner-section {
    .banner-carousel {
        .slider-item {
            position: relative;
            padding: 220px 0 320px;
            height: 100vh;
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            width: 100%;
            background-color: #ddd;

            .content {
                color: #fff;

                .title {
                    font-weight: 600;
                    font-size: 45px;
                }

                .text {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 2;
                }
            }
        }

        .owl-dots {
            transform: translateY(-70px);

        }
    }

    &.banner-section-second {
        .banner-carousel {
            .slider-item {
                height: 60vh;
                padding: 0;
            }
        }

    }
}

/*ABOUT-SECTION*/
.about-section {
    background-image: url('../images/Group\ 634.png');
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: bottom;
    padding: 80px 0;

    .about-left {
        h5 {
            color: $second-color;
            font-size: 28px;
        }

        p {
            line-height: 1.9;
            font-size: 16px;
            font-weight: 500;
            color: #3B3B3C;
        }
    }

    .about-right {
        img {
            width: 200px;
        }
    }
}

/*SECTION-INFO*/
.section-info {
    background-image: url('../images/Group\ 636.png'), url('../images/Group\ 635.png'), url('../images/Group\ 637.png'), url('../images/Path\ 4191.png'), url('../images/Group\ 633.png');
    background-repeat: no-repeat;
    background-position: top left, left 110%, 30% 145%, 65% bottom, 110% 350%;
    background-color: #BC9D3F;
    color: #fff;
    padding: 120px 0;
    text-align: center;

    .section-info-content {
        @include center-column();


        .title {
            font-size: 30px;
            letter-spacing: 1px;
        }

        a {
            color: #fff;
            display: block;
            border: 1px solid #fff;
            width: 170px;
            height: 50px;
            border-radius: 3px;
            @include center;
            margin-top: 40px;

            transition: $transition;

            &:hover {
                border-color: $main-color;
                background-color: $main-color;

            }
        }

    }
}

/*BLOG SECTION*/
.blog-section {
    padding: 50px 0;

    &.blog-section-2 {
        background-image: none;
    }

    .box {
        border-radius: 5px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        transition: $transition;

        &:hover {
            img {
                transform: scale(1.1);

            }
        }

        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            height: 3px;
            border-radius: 5px;
            transition: $transition;
            width: 0;
            background-color: $main-color;
        }

        &:hover::after {
            width: 100%;
        }

        .img {
            border-radius: 5px 5px 0 0;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
                height: 250px;
                transition: $transition;


            }

        }

        .content {
            padding: 10px;
            text-align: center;

            .title {
                color: #303030;
                font-weight: 600;
                text-transform: uppercase;
                margin: 6px 0;
            }

            .text {
                font-size: 15px;
                font-weight: 400;
                color: #3C3C3C
            }

            .box-bottom {

                .read-more {
                    padding: 10px 30px;
                    color: $main-color;
                    border: 1px solid $main-color;
                    border-radius: 5px;
                    margin-top: 20px;
                    font-weight: 500;
                    transition: $transition;
                    position: relative;
                    display: inline-block;
                    margin: 20px 0;

                    &::after {
                        background-color: $main-color;
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 0;
                        z-index: 1;
                        width: 0;
                        z-index: -1;
                        height: 45px;
                        transition: $transition;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

/*PARNTERS SECTION*/
.partners-section {
    padding: 40px 10px;

    .slider-item {
        a {
            img {
                border-radius: 10px;
                width: 90%;
                height: 120px;
                object-fit: cover;
                @include center;
            }
        }
    }
}

.partner-content {
    a {
        img {
            border-radius: 10px;
            width: 100%;
            height: 120px;
            border: 1px solid #ddd;
            filter: grayscale(0.6);
            object-fit: cover;
            transition: $transition;

            &:hover {
                filter: grayscale(0);
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }
        }
    }
}

/*GENERAL FOOTER*/
.general-footer {
    background-color: #151515;

    .footer-top {
        padding: 50px 0;
        border-bottom: 2px solid #A8A8A8;

        .footer-block {
            margin-bottom: 20px;

            .footer-block-title {
                font-size: 25px;
                margin-bottom: 10px;
                color: #fff;
            }


            .address-list {
                li {
                    display: flex;
                    margin-bottom: 5px;
                    color: #fff;

                    a {
                        color: #fff;
                        transition: $transition;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }

            .nav-list {
                li {
                    margin-bottom: 10px;

                    a {
                        color: #fff;
                        transition: $transition;


                        &:hover {
                            color: $main-color;


                        }



                    }
                }
            }

            form {
                border-radius: 4px;
                display: flex;
                margin-top: 20px;
                align-items: center;
                border: 1px solid #fff;

                input {
                    height: 40px;
                    width: 60%;
                    padding-left: 5px;
                    font-size: 13px;
                    background-color: #fff;

                }

                button {
                    color: #fff;
                    width: 40%;
                    height: 40px;
                    font-size: 13px;
                    background-color: $main-color;
                    transition: $transition;

                    &:hover {
                        background-color: #C91A1F;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: 10px 0;
        color: rgba(255, 255, 255, 0.38);
        font-size: 14px;

        a {
            color: $main-color;
            transition: $transition;
            letter-spacing: .5px;

            &:hover {
                color: #C91A1F;
            }
        }
    }
}

.about-page-section {
    padding: 0 0 50px;
}

.category {
    display: none;

    .info-text {
        p {
            line-height: 1.7;
            font-size: 16px;
            font-weight: 400;

            .date {
                color: $main-color;
            }
        }
    }

    .team-info {
        border-radius: 5px;

        &:hover {
            .thumb::after {
                visibility: visible;
                opacity: 1;
            }

            img {
                transform: scale(1.1);
            }
        }

        .thumb {
            overflow: hidden;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 96, 255, 0.6);
                visibility: hidden;
                opacity: 0;
                -webkit-transition: 0.4s;
                transition: 0.4s
            }



            img {
                width: 100%;
                transition: $transition;
                height: 350px;
                border-radius: 5px 5px 0 0;
                object-fit: cover;
            }
        }

        .text {
            padding: 10px;

            h4 {
                font-size: 18px;
            }
        }

        background-color: #F4F8FF;
        text-align: center;
    }

    &.show {
        display: flex;
    }

    &.hide {
        display: none;
    }
}

.sidebar-menu {

    li,
    a {
        border-bottom: 1px solid #ddd;
        padding: 7px 0;
        cursor: pointer;
        color: #303030;
        transition: $transition;
        font-size: 15px;

        a {
            border-bottom: none;

            &.active {
                color: $main-color;
            }
        }

        &:hover,
        &.active {
            color: $main-color;

            a {
                color: $main-color;
            }
        }
    }
}

/*SERVICES SECTION*/
.services-info-section {
    overflow-x: hidden;

    .box-item {
        margin-bottom: 30px;
    }

    .services-image {
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }

    .services-text {
        margin-bottom: 30px;

        .text {
            color: #333333;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.9;
        }
    }
}

/*PRODUCT SECTION*/
.product-section {
    padding: 50px 0;

    .product {
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 30px;

        img {
            width: 100%;
            transition: $transition;
            height: 260px;
            object-fit: cover;

            &:hover {
                overflow: hidden;
                transform: scale(1.1);
            }
        }
    }
}

.box-item {
    @include center;
    flex-direction: column;
    text-align: center;

    .text {
        font-size: 13px;
        margin-top: 10px;
    }

    .img {

        width: 100px;
        @include center;
        border-radius: 50%;
        height: 100px;

        img {

            width: 65%;
        }
    }
}
/*GALLERY SECTİON*/
.gallery-section {
    margin: 40px 0;

    .gallery-item {
        margin-bottom: 20px;
        display: block;
        overflow: hidden;

        .overlay {
            height: 300px !important;
        }

        img {
            height: 300px;
            object-fit: cover;
            width: 100%;
            transition: $transition;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
.image-gallery {
    overflow: hidden;
    position: relative;
    transition: $transition;

    &:hover {
        img {
            transform: scale(1.1);
        }

        .overlay {
            opacity: 1;
            height: 100%;
            &.overlay-video{    background-color: rgba(201, 26, 31, 0.5);}
        }
    }

    img {
        width: 100%;
        transition: $transition;
    }

    .overlay {
        transition: $transition;
        position: absolute;
        top: 0;
        background-color: rgba(201, 26, 31, 0.5);
        left: 0;
        width: 100%;
        height: 0;
        opacity: 0;
        @include center;
        &.overlay-video{
            transition: $transition;
            position: absolute;
            top: 0;
            background-color: transparent;
            left: 0;
            width: 100%;
            height: 300px;
            opacity: 1;
            @include center;
            i {
                font-size: 22px;
                color: #fff;
                background-color: $main-color;
                border-radius: 50%;
               width: 45px;
               height: 45px;
               @include center;

            }
        }

        i {
            font-size: 40px;
            color: #fff;
        }
    }
}
.contact-section {
    margin: 40px 0;

    .contact-section-top {
        @include center;
        background-color: #F5F5F5;

        .contact-left {
            padding: 40px 0 40px 40px;

            .address-list {
                li {
                    margin-bottom: 20px;
                    color: #030303;
                    font-weight: bold;

                    a {
                        color: #303030;
                    }

                    div {
                        font-weight: normal;
                    }
                }
            }

            .social-list {
                display: flex;
                align-items: center;
                margin-top: 40px;

                li {
                    width: 35px;
                    height: 35px;

                    border-radius: 50%;
                    margin-right: 10px;
                    transition: $transition;

                    a {

                        @include center;
                        cursor: pointer;
                        width: 100%;
                        border-radius: 50%;
                        height: 100%;
                        transition: $transition;

                        &:hover {
                            transform: translateY(-2px);
                            box-shadow: $main-shadow;
                        }

                        i {
                            color: #fff;
                            font-size: 15px;
                        }
                    }




                }
            }
        }
    }
}

.contact-form-container {
    margin: 20px 0 90px;

    .contact-form {
        max-width: 850px;

        border-radius: 6px;
        margin: 20px auto;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        width: 100%;
        border-radius: 4px;

        .contact-form-top {
            border-radius: 5px 5px 0 0;
            padding: 20px 30px;

            color: #fff;
            background-color: $main-color;

            .box {

                margin-bottom: 20px;

                &:last-child {
                    .item {
                        border: none;
                    }
                }

                .item {
                    border-right: 1px solid #D6D6D6;


                    .icon {
                        font-size: 25px;
                        margin-bottom: 10px;
                    }

                    span {
                        letter-spacing: .6px;
                    }

                    ul {

                        li {
                            margin-right: 10px;
                            width: 36px;
                            border-radius: 3px;
                            background-color: #fff;
                            height: 36px;
                            @include center;

                            a {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
        }

        .contact-form-bottom {
            padding: 10px 30px;

            .form-title {
                margin: 20px 0;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                input,
                textarea {
                    width: 70%;
                    border-bottom: 2px solid #ddd;
                }
            }

            input {
                font-size: 14px;
                margin-bottom: 15px;
                padding-left: 10px;
                padding-bottom: 8px;
            }

            textarea {
                margin: 15px 0;
                padding: 10px;
                border-radius: 5px;
                display: block;
                border: 2px solid #ddd;
            }

            button {
                background-color: $main-color;
                width: 130px;
                margin-bottom: 22px;
                border-radius: 3px;
                height: 40px;
                cursor: pointer;
                color: #fff;
                transition: $transition;

                &:hover {
                    background-color: #C91A1F;

                }
            }
        }
    }
}

.section-title {
    margin-bottom: 20px;
    border-left: 3px solid $main-color;
    padding-left: 10px;

    .title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 25px;
        position: relative;
        color: #3C3C3C;
        display: inline;

        &.title-sm {
            font-size: 22px;
        }
    }

    .home-link {
        @include center;
        margin-top: 5px;

        li {
            margin-right: 3px;
            font-size: 15px;

            display: block;
            color: #838383;
            font-weight: 400;
            letter-spacing: .6px;
            transition: $transition;

            &:hover,
            &.active-class {
                color: $main-color;
            }

            a {
                font-size: 15px;
                margin: 5px 0;
                display: block;
                color: #838383;
                font-weight: 400;
                letter-spacing: .6px;
                transition: $transition;


                &:hover,
                &.active {
                    color: $main-color;
                }
            }
        }
    }
}

.media {
    .box {
        border-radius: 5px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        transition: $transition;

        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            height: 3px;
            transition: $transition;
            width: 0;
            background-color: $main-color;
        }

        &:hover::after {
            width: 100%;
        }

        .img {
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
                height: 250px;
                transition: $transition;

                &:hover {
                    transform: scale(1.1);

                }
            }

        }

        .content {
            padding: 10px;
            text-align: center;

            .title {
                color: #303030;
                font-weight: 600;
                text-transform: uppercase;
                margin: 6px 0;
            }

            .text {
                font-size: 15px;
                font-weight: 400;
                color: #3C3C3C
            }

            .box-bottom {

                .read-more {
                    padding: 10px 30px;
                    color: $main-color;
                    border: 1px solid $main-color;
                    border-radius: 5px;
                    margin-top: 20px;
                    font-weight: 500;
                    transition: $transition;
                    position: relative;
                    display: inline-block;
                    margin: 20px 0;

                    &::after {
                        background-color: $main-color;
                        position: absolute;
                        content: "";
                        left: 0;
                        border-radius: 5px;
                        top: 0;
                        z-index: 1;
                        width: 0;
                        z-index: -1;
                        height: 45px;
                        transition: $transition;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}
.production-section {
    margin: 50px 0;



    .production-text {

        line-height: 1.7;
        font-size: 15px;
        color: #333333;
        font-weight: 400;
    }

    .production-image {
        img {
            width: 100%;
        }
    }

    .image {

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            transition: $transition;

            &.certificate-img {
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border: 5px solid #ddd;
            }
        }
    }
}

.section-1 {


    .box {
        margin-bottom: 40px;
        border-radius: 3px;
        height: 350px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

        .img {
            position: relative;

            &:hover {
                .overlay {
                    padding: 7px;
                    width: 100%;
                    z-index: 1;
                    opacity: 1;
                    visibility: visible;

                    .overlay-btn {
                        opacity: 1;
                    }
                }
            }

            .overlay {
                position: absolute;
                border-radius: 5px;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                height: 0%;
                transition: .5s;
                width: 0%;
                background-color: rgba(17, 17, 26, 0.4);
                @include center;

                .overlay-btn {
                    background-color: $main-color;
                    color: #fff;
                    width: 120px;
                    opacity: 0;
                    height: 42px;
                    @include center;

                    box-shadow: $main-shadow;
                    border-radius: 5px;
                }

            }

            img {
                width: 100%;
                object-fit: cover;
                height: 240px;

            }

        }

        .content {
            padding: 15px;

            .title {
                font-weight: 600;
                margin: 6px 0;
            }

            .box-bottom {
                @include between;
                font-size: 13.5px;
                color: #3C3C3C;
            }
        }
    }

}

.section-2 {
    .box {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        transition: $transition;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        }

        .img {
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
                height: 250px;
                transition: $transition;

                &:hover {
                    transform: scale(1.1);

                }
            }

        }

        .content {
            padding: 10px;
            text-align: center;

            .title {
                color: #303030;
                font-weight: 600;
                text-transform: uppercase;
                margin: 6px 0;
            }

            .text {
                font-size: 15px;
                font-weight: 400;
                color: #3C3C3C
            }

            .box-bottom {

                .read-more {
                    padding: 10px 34px;
                    color: $main-color;
                    border: 1px solid $main-color;
                    border-radius: 5px;
                    margin-top: 20px;
                    font-weight: 500;
                    transition: $transition;
                    position: relative;
                    display: inline-block;
                    margin: 20px 0;

                    &::after {
                        background-color: $main-color;
                        position: absolute;
                        content: "";
                        left: 0;
                        border-radius: 5px;
                        top: 0;
                        z-index: 1;
                        width: 0;
                        z-index: -1;
                        height: 45px;
                        transition: $transition;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.section-inner {
    .page-title {
        padding: 0 10px;
        margin-bottom: 30px;
        position: relative;
        border-left: 1px solid $main-color;

        .title {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 27px;
            color: #303030;
        }


        .home-link {
            @include center;

            li {
                margin-right: 3px;

                a {
                    font-size: 16px;
                    color: #838383;
                    font-weight: 400;
                    transition: $transition;

                    &.active {
                        color: $main-color;
                        font-weight: 500;
                    }
                }

                a:hover {
                    color: $main-color;
                }
            }
        }
    }

    .box {

        img {

            width: 100%;
        }
    }

    .info-content {
        .text-info-title {
            text-transform: uppercase;
            font-size: 21px;
            font-weight: 500;
            color: #3B3B3C;
        }

        ul {
            margin: 12px 0;
            display: flex;

            li {
                color: #4B4B4D;
                margin-right: 20px;
                font-size: 15px;
                font-weight: 400;

                i {
                    color: $main-color;
                }
            }
        }

        .text {
            line-height: 1.8;
            color: #626262;
        }
    }
}

.pagination {
    .page-item {
        .page-link {
            background-color: $main-color;
            color: #fff;
            margin-right: 10px;
            border-radius: 5px;
            display: block;
            width: 40px;
            height: 40px;
            @include center;
            transition: $transition;

            &:hover {

                box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 20%);
            }
        }
    }
}
@media screen and (max-width:1200px) {
    header {
        &.general-header {
            .header-bottom {
                .header-logo {
                    img {
                        max-width: 220px;
                        margin-top: -20px;
                    }
                }

                .nav {
                    .nav-list {

                        margin-left: 35px;

                        .nav-item {
                            .nav-link {
                                font-size: 15px;
                                padding: 5px 10px !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .banner-section {
        .banner-carousel {
            .slider-item {
                padding: 230px 0 170px;
            }
        }

        &.banner-section-2 {
            .banner-carousel {
                .slider-item {
                    padding: 200px 0;
                }
            }
        }
    }

    .section-info {
        background-image: none;
        padding: 40px 0;
    }
}

@media screen and (max-width:992px) {
    .section-title {
        .title {
            font-size: 23px;

            &.title-sm {
                font-size: 22px;

                &::before {
                    width: 30%;
                    top: 15px;
                }
            }
        }

        .home-link {
            li {
                font-size: 12px;
                letter-spacing: normal;

                a {
                    font-size: 12px;
                    letter-spacing: normal;
                }
            }
        }
    }

    header {
        &.general-header {
            display: none;
        }

        &.header-mobile {
            display: block;

            .nav-menu-btn {

                font-size: 25px;
            }

            .header-social-list {
                display: flex;
                align-items: center;

                li {
                    width: 27px;
                    height: 25px;
                    background-color: #f1f1f1;
                    border-radius: 3px;
                    margin-right: 10px;
                    transition: $transition;

                    a {
                        position: relative;
                        color: $main-color;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        width: 100%;

                        height: 100%;


                    }



                }
            }
        }
    }

    .banner-section {
        .banner-carousel {
            .slider-item {
                padding: 190px 0 120px;
                height: 90vh;

                .content {
                    .title {
                        font-size: 40px;
                    }

                    .text {
                        font-size: 16px;
                        line-height: 1.8;
                    }
                }
            }
        }
    }

    .sidebar-menu {
        margin-bottom: 40px;
        width: 50%;

    }

    .about-section {
        text-align: center;
        background: none;

        .company_history {
            .info-text {
                text-align: center;
            }

            .right-image {
                @include center;
            }
        }
    }

    .general-footer {
        .footer-top {
            .footer-block {
                &.footer-logo-block {
                    align-items: flex-start;
                }

            }
        }


    }

    .contact-form-container {
        padding: 0 50px;

        .contact-form-bottom {
            padding: 5px !important;
        }
    }
}

@media screen and (max-width:767px) {
    header {
        &.header-mobile {
            .nav-menu-btn {

                font-size: 22px;
            }

            .header-logo {
                img {
                    max-width: 180px;
                    width: 100%;
                }
            }

            .header-social-list {
                display: flex;
                align-items: center;

                li {
                    width: 24px;
                    height: 22px;
                    background-color: #f1f1f1;
                    border-radius: 3px;
                    margin-right: 10px;
                    transition: $transition;

                    a {
                        position: relative;
                        color: $main-color;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        width: 100%;

                        height: 100%;


                    }



                }
            }

            .header-mobile-menu {


                .header-search {

                    .search-form {

                        width: 380px;
                        height: 40px;


                    }
                }

            }
        }

    }

    .banner-section {
        .banner-carousel {
            .slider-item {
                height: 65vh;
                padding: 100px 0 230px;

                .content {
                    .title {
                        font-size: 30px;
                    }
                }
            }
        }

    }

    .section-info {
        a {
            margin-top: 20px;
        }
    }

    .blog-section {
        background: none;

    }

    .general-footer {
        .footer-top {
            .footer-block {
                text-align: center !important;

                ul.nav-list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .social-list,
                .address-list {
                    justify-content: center;
                }

                .address-list {
                    @include center-column();
                }

                &.footer-logo-block {
                    align-items: center;
                }

            }
        }

        .footer-bottom {
            text-align: center;
        }


    }
}

@media(max-width:715px) {
    .contact-form-container {
        padding: 0 20px;

        .contact-form {
            .contact-form-top {
                padding: 10px;

                .box {

                    .item {
                        text-align: center;

                        .icon {
                            font-size: 19px;

                        }

                        span {
                            font-size: 14px;
                            letter-spacing: .4px;
                        }

                        ul {

                            li {
                                margin-right: 5px;
                                width: 30px;
                                font-size: 13px;
                                height: 30px;

                            }
                        }
                    }
                }
            }

            .contact-form-bottom {
                form {

                    input,
                    textarea {
                        width: 100%;
                    }
                }


            }
        }
    }
}

@media screen and (max-width:576px) {
    .banner-section {
        &.banner-section-second {
            .banner-carousel {
                .slider-item {
                    height: 45vh;
                    padding: 0;
                }
            }

        }

        .banner-carousel {
            .slider-item {

                padding: 90px 0;

                .content {
                    .title {
                        font-size: 27px;
                    }

                    .text {
                        font-size: 15px;
                    }
                }
            }
        }

    }
.about-page-section{
    .right-image{
        @include center;
    }
}
    .contact-form-container {
        .contact-form {
            .contact-form-top {
                padding: 10px;

                .box {

                    .item {
                        border: none;
                        border-bottom: 1px solid #ddd;
                        padding-bottom: 15px;

                        .icon {
                            font-size: 19px;

                        }


                    }
                }
            }

            .contact-form-bottom {
                form {

                    input,
                    textarea {
                        width: 100%;
                    }
                }


            }
        }
    }
}

@media screen and (max-width:412px) {
    header {
        &.header-mobile {
            .header-mobile-menu {
                .header-search {

                    .search-form {

                        width: 310px;
                        height: 40px;


                    }
                }

            }
        }
    }
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: $main-color;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

/*keyframes*/
@keyframes backto-top-bounce {
    0% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-5px);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(10px);
    }

    100% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-5px);
    }
}

.vacancy {
   .vacancy_single {
        border-bottom: 1px solid #BEBEBE;
        padding-bottom: 10px;
        .vacancy-tech-info {
            display: flex;
            i{
                color: $main-color;
            }
          }
          .vacancy-text-box  {
            ul{
                li{
                    margin-bottom: 6px;
                color: #4B4B4B;
                b {
                    margin-right: 20px;
                  }
                }
            }
.btn_1{                background-color:$main-color;
                color: #fff;
                margin-top: 10px;
                font-weight: 500;
                transition: $transition;
                padding: 10px 50px;
                border: 1px solid$main-color;
                &:hover {
                    background-color: #fff;
                    color:$main-color;
                  }
              }
          }
      }
}
  

  
  
  .table{
    border-color: #fff;
  }
  .apply{
    .title {
        text-transform: uppercase;
        margin-bottom: 33px;
        padding-bottom: 10px;
        font-weight: 500;
        text-align: center;
        
      }
      input {
        display: block;
        border: 1px solid #EBEBEB;
        width: 100%;
        height: 35px;
        margin-top: 5px;
        outline: none;
        padding-left: 10px;
      }
      label {
        font-size: 14px;
      }
      button {
        background-color:$main-color;
        color: #fff;
        width: 120px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        border:1px solid $main-color;
        font-size:14px;
        transition: $transition;
        font-weight: 500;
        &:hover {
            background-color: #fff;
            color: $main-color;
            }
      }
      .file-input {
        padding: 80px 0;
      }
      input[type='file'] {
        display: none;
      }
      .custom-file-upload {
        border: 1px solid #EBEBEB;
        padding: 30px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ADACAC;
        flex-direction: column;
        width: 100%;
        cursor: pointer;
      }
  }
  

  
  
  
 