@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

input,
textarea,
button {
  outline: none;
  background: transparent;
  border: none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  background-color: #eee;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #FE3D2B;
  border: none;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scroll-btn {
  z-index: 100;
  opacity: 0;
  font-size: 18px;
  border-radius: 50%;
  visibility: hidden;
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: #FE3D2B;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  width: 45px;
  cursor: pointer;
  -webkit-animation: backto-top-bounce 4s infinite ease-in-out;
          animation: backto-top-bounce 4s infinite ease-in-out;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.4s ease all;
}
.scroll-btn.show {
  transition: 0.4s ease all;
  opacity: 1;
  visibility: visible;
}
.scroll-btn:hover {
  background-color: #C91A1F;
  transform: translateY(-5px);
}

.social-list {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.social-list li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.4s ease all;
}
.social-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  transition: 0.4s ease all;
}
.social-list li a:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateY(-5px);
}
.social-list li a i {
  color: #fff;
  font-size: 15px;
}

header .social-list {
  margin-top: 0;
}

/*HEADER*/
header.general-header {
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 99;
}
header.general-header .header-top .header-search .search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 5px;
}
header.general-header .header-top .header-search .search-form input {
  padding-left: 8px;
  width: 100%;
  max-width: 150px;
  height: 40px;
  color: #fff;
}
header.general-header .header-top .header-search .search-form input.input-about {
  max-width: 100%;
}
header.general-header .header-top .header-search .search-form input::-moz-placeholder {
  color: #fff;
}
header.general-header .header-top .header-search .search-form input:-ms-input-placeholder {
  color: #fff;
}
header.general-header .header-top .header-search .search-form input::placeholder {
  color: #fff;
}
header.general-header .header-top .header-search .search-form button {
  width: 100%;
  max-width: 40px;
  height: 37px;
  transition: 0.4s ease all;
  color: #fff;
}
header.general-header .header-bottom {
  padding-top: 15px;
}
header.general-header .header-bottom .header-logo {
  margin-top: -60px;
  display: block;
}
header.general-header .header-bottom .nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
header.general-header .header-bottom .nav .nav-list .nav-item .nav-link {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  transition: 0.4s ease all;
  position: relative;
  letter-spacing: 0.2px;
}
header.general-header .header-bottom .nav .nav-list .nav-item .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 1.4px;
  margin: auto;
  left: 0;
  right: 0;
  transition: 0.4s ease all;
  background-color: #fff;
}
header.general-header .header-bottom .nav .nav-list .nav-item .nav-link.active::after {
  width: 100%;
}
header.general-header .header-bottom .nav .nav-list .nav-item .nav-link:hover::after {
  width: 100%;
  right: 10px;
}
header.general-header.header-fixed {
  position: fixed !important;
  top: 0;
  transition: 0.4s ease all;
  left: 0;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: #fff !important;
  width: 100%;
}
header.general-header.header-fixed .header-top .header-search .search-form {
  border: 1px solid rgba(102, 102, 102, 0.4);
}
header.general-header.header-fixed .header-top .header-search .search-form input {
  color: #303030;
}
header.general-header.header-fixed .header-top .header-search .search-form input::-moz-placeholder {
  color: #666;
}
header.general-header.header-fixed .header-top .header-search .search-form input:-ms-input-placeholder {
  color: #666;
}
header.general-header.header-fixed .header-top .header-search .search-form input::placeholder {
  color: #666;
}
header.general-header.header-fixed .header-top .header-search .search-form button {
  color: #666;
}
header.general-header.header-fixed .header-bottom .nav .nav-list .nav-item .nav-link {
  color: #303030;
}
header.general-header.header-fixed .header-bottom .nav .nav-list .nav-item .nav-link:hover {
  color: #FE3D2B;
}
header.general-header.header-fixed .header-bottom .nav .nav-list .nav-item .nav-link::after {
  background-color: #FE3D2B;
}
header.general-header.general-header-2 {
  background-color: #fff;
  position: relative;
}
header.general-header.general-header-2 .header-top .header-search .search-form {
  border: 1px solid #3C3C3C;
}
header.general-header.general-header-2 .header-top .header-search .search-form input {
  padding-left: 8px;
  width: 100%;
  max-width: 150px;
  height: 40px;
  color: #3C3C3C;
}
header.general-header.general-header-2 .header-top .header-search .search-form input::-moz-placeholder {
  color: #3C3C3C;
}
header.general-header.general-header-2 .header-top .header-search .search-form input:-ms-input-placeholder {
  color: #3C3C3C;
}
header.general-header.general-header-2 .header-top .header-search .search-form input::placeholder {
  color: #3C3C3C;
}
header.general-header.general-header-2 .header-top .header-search .search-form button {
  color: #3C3C3C;
}
header.general-header.general-header-2 .header-bottom .nav .nav-list .nav-item .nav-link {
  color: #333;
}
header.general-header.general-header-2 .header-bottom .nav .nav-list .nav-item .nav-link::after {
  background-color: #FE3D2B;
}
header.general-header.general-header-2 .header-bottom .nav .nav-list .nav-item .nav-link:hover, header.general-header.general-header-2 .header-bottom .nav .nav-list .nav-item .nav-link.active {
  color: #FE3D2B;
}
header.header-mobile {
  line-height: 65px;
  display: none;
  background-color: #fff;
  z-index: 1000;
}
header.header-mobile .header-mobile-top {
  border-bottom: 1px solid #ddd;
}
header.header-mobile .header-mobile-top .search-content {
  position: relative;
}
header.header-mobile .header-mobile-top .search-content .search-wrapper {
  display: none;
}
header.header-mobile .header-mobile-top .search-content .search-wrapper.active {
  display: block;
}
header.header-mobile .header-mobile-top .search-content .search-wrapper .search-form {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 1200;
  width: 300px;
  transition: 0.4s ease all;
  background-color: rgba(3, 3, 0, 0.8);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
header.header-mobile .header-mobile-top .search-content .search-wrapper .search-form input {
  background-color: #fff;
  padding: 0 10px;
  width: 80%;
  font-size: 13.5px;
  height: 40px;
}
header.header-mobile .header-mobile-top .search-content .search-wrapper .search-form input::-moz-placeholder {
  color: #798082;
}
header.header-mobile .header-mobile-top .search-content .search-wrapper .search-form input:-ms-input-placeholder {
  color: #798082;
}
header.header-mobile .header-mobile-top .search-content .search-wrapper .search-form input::placeholder {
  color: #798082;
}
header.header-mobile .header-mobile-top .search-content .search-wrapper .search-form button {
  height: 40px;
  overflow: hidden;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  background-color: #030303;
  transition: 0.4s ease all;
}
header.header-mobile .header-mobile-top .search-content .search-wrapper .search-form button:hover {
  background-color: #798082;
}
header.header-mobile .header-mobile-top .nav-menu-btn,
header.header-mobile .header-mobile-top .nav-menu-search {
  color: #303030;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 4px;
  cursor: pointer;
}
header.header-mobile .header-mobile-menu {
  line-height: 30px;
  width: 340px;
  text-align: left;
  height: 80vh;
  background-color: #fff;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s ease all;
  transform: translateX(-400px);
}
header.header-mobile .header-mobile-menu.show {
  transform: translateX(0);
}
header.header-mobile .header-mobile-menu .header-mobile-top {
  padding: 10px;
  position: relative;
}
header.header-mobile .header-mobile-menu .header-mobile-top .logo img {
  width: 100%;
  max-width: 160px;
}
header.header-mobile .header-mobile-menu .header-mobile-top .close-menu {
  background-color: #333;
  width: 30px;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  transition: 0.4s ease all;
}
header.header-mobile .header-mobile-menu .header-mobile-top .close-menu:hover {
  background-color: #C91A1F;
}
header.header-mobile .header-mobile-menu .nav .nav-list {
  width: 100%;
}
header.header-mobile .header-mobile-menu .nav .nav-list li {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
header.header-mobile .header-mobile-menu .nav .nav-list li a {
  color: #000;
  position: relative;
  font-size: 15px;
  font-weight: 400;
  transition: 0.4s ease all;
}
header.header-mobile .header-mobile-menu .nav .nav-list li a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #FE3D2B;
  border-radius: 3px;
  transition: 0.4s ease all;
}
header.header-mobile .header-mobile-menu .nav .nav-list li a:hover::after {
  width: 100%;
}
header.header-mobile .header-mobile-menu .nav .nav-list li a:hover {
  color: #FE3D2B;
}

/*BANNER SECTION*/
.banner-section .banner-carousel .slider-item {
  position: relative;
  padding: 220px 0 320px;
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 100%;
  background-color: #ddd;
}
.banner-section .banner-carousel .slider-item .content {
  color: #fff;
}
.banner-section .banner-carousel .slider-item .content .title {
  font-weight: 600;
  font-size: 45px;
}
.banner-section .banner-carousel .slider-item .content .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
}
.banner-section .banner-carousel .owl-dots {
  transform: translateY(-70px);
}
.banner-section.banner-section-second .banner-carousel .slider-item {
  height: 60vh;
  padding: 0;
}

/*ABOUT-SECTION*/
.about-section {
  background-image: url("../images/Group 634.png");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: bottom;
  padding: 80px 0;
}
.about-section .about-left h5 {
  color: #FFC003;
  font-size: 28px;
}
.about-section .about-left p {
  line-height: 1.9;
  font-size: 16px;
  font-weight: 500;
  color: #3B3B3C;
}
.about-section .about-right img {
  width: 200px;
}

/*SECTION-INFO*/
.section-info {
  background-image: url("../images/Group 636.png"), url("../images/Group 635.png"), url("../images/Group 637.png"), url("../images/Path 4191.png"), url("../images/Group 633.png");
  background-repeat: no-repeat;
  background-position: top left, left 110%, 30% 145%, 65% bottom, 110% 350%;
  background-color: #BC9D3F;
  color: #fff;
  padding: 120px 0;
  text-align: center;
}
.section-info .section-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-info .section-info-content .title {
  font-size: 30px;
  letter-spacing: 1px;
}
.section-info .section-info-content a {
  color: #fff;
  display: block;
  border: 1px solid #fff;
  width: 170px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  transition: 0.4s ease all;
}
.section-info .section-info-content a:hover {
  border-color: #FE3D2B;
  background-color: #FE3D2B;
}

/*BLOG SECTION*/
.blog-section {
  padding: 50px 0;
}
.blog-section.blog-section-2 {
  background-image: none;
}
.blog-section .box {
  border-radius: 5px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  transition: 0.4s ease all;
}
.blog-section .box:hover img {
  transform: scale(1.1);
}
.blog-section .box::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  border-radius: 5px;
  transition: 0.4s ease all;
  width: 0;
  background-color: #FE3D2B;
}
.blog-section .box:hover::after {
  width: 100%;
}
.blog-section .box .img {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.blog-section .box .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  transition: 0.4s ease all;
}
.blog-section .box .content {
  padding: 10px;
  text-align: center;
}
.blog-section .box .content .title {
  color: #303030;
  font-weight: 600;
  text-transform: uppercase;
  margin: 6px 0;
}
.blog-section .box .content .text {
  font-size: 15px;
  font-weight: 400;
  color: #3C3C3C;
}
.blog-section .box .content .box-bottom .read-more {
  padding: 10px 30px;
  color: #FE3D2B;
  border: 1px solid #FE3D2B;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 500;
  transition: 0.4s ease all;
  position: relative;
  display: inline-block;
  margin: 20px 0;
}
.blog-section .box .content .box-bottom .read-more::after {
  background-color: #FE3D2B;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 1;
  width: 0;
  z-index: -1;
  height: 45px;
  transition: 0.4s ease all;
}
.blog-section .box .content .box-bottom .read-more:hover::after {
  width: 100%;
}
.blog-section .box .content .box-bottom .read-more:hover {
  color: #fff;
}

/*PARNTERS SECTION*/
.partners-section {
  padding: 40px 10px;
}
.partners-section .slider-item a img {
  border-radius: 10px;
  width: 90%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-content a img {
  border-radius: 10px;
  width: 100%;
  height: 120px;
  border: 1px solid #ddd;
  filter: grayscale(0.6);
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s ease all;
}
.partner-content a img:hover {
  filter: grayscale(0);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*GENERAL FOOTER*/
.general-footer {
  background-color: #151515;
}
.general-footer .footer-top {
  padding: 50px 0;
  border-bottom: 2px solid #A8A8A8;
}
.general-footer .footer-top .footer-block {
  margin-bottom: 20px;
}
.general-footer .footer-top .footer-block .footer-block-title {
  font-size: 25px;
  margin-bottom: 10px;
  color: #fff;
}
.general-footer .footer-top .footer-block .address-list li {
  display: flex;
  margin-bottom: 5px;
  color: #fff;
}
.general-footer .footer-top .footer-block .address-list li a {
  color: #fff;
  transition: 0.4s ease all;
}
.general-footer .footer-top .footer-block .address-list li a:hover {
  color: #FE3D2B;
}
.general-footer .footer-top .footer-block .nav-list li {
  margin-bottom: 10px;
}
.general-footer .footer-top .footer-block .nav-list li a {
  color: #fff;
  transition: 0.4s ease all;
}
.general-footer .footer-top .footer-block .nav-list li a:hover {
  color: #FE3D2B;
}
.general-footer .footer-top .footer-block form {
  border-radius: 4px;
  display: flex;
  margin-top: 20px;
  align-items: center;
  border: 1px solid #fff;
}
.general-footer .footer-top .footer-block form input {
  height: 40px;
  width: 60%;
  padding-left: 5px;
  font-size: 13px;
  background-color: #fff;
}
.general-footer .footer-top .footer-block form button {
  color: #fff;
  width: 40%;
  height: 40px;
  font-size: 13px;
  background-color: #FE3D2B;
  transition: 0.4s ease all;
}
.general-footer .footer-top .footer-block form button:hover {
  background-color: #C91A1F;
}
.general-footer .footer-bottom {
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
}
.general-footer .footer-bottom a {
  color: #FE3D2B;
  transition: 0.4s ease all;
  letter-spacing: 0.5px;
}
.general-footer .footer-bottom a:hover {
  color: #C91A1F;
}

.about-page-section {
  padding: 0 0 50px;
}

.category {
  display: none;
}
.category .info-text p {
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
}
.category .info-text p .date {
  color: #FE3D2B;
}
.category .team-info {
  border-radius: 5px;
  background-color: #F4F8FF;
  text-align: center;
}
.category .team-info:hover .thumb::after {
  visibility: visible;
  opacity: 1;
}
.category .team-info:hover img {
  transform: scale(1.1);
}
.category .team-info .thumb {
  overflow: hidden;
  position: relative;
}
.category .team-info .thumb::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 96, 255, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.category .team-info .thumb img {
  width: 100%;
  transition: 0.4s ease all;
  height: 350px;
  border-radius: 5px 5px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.category .team-info .text {
  padding: 10px;
}
.category .team-info .text h4 {
  font-size: 18px;
}
.category.show {
  display: flex;
}
.category.hide {
  display: none;
}

.sidebar-menu li,
.sidebar-menu a {
  border-bottom: 1px solid #ddd;
  padding: 7px 0;
  cursor: pointer;
  color: #303030;
  transition: 0.4s ease all;
  font-size: 15px;
}
.sidebar-menu li a,
.sidebar-menu a a {
  border-bottom: none;
}
.sidebar-menu li a.active,
.sidebar-menu a a.active {
  color: #FE3D2B;
}
.sidebar-menu li:hover, .sidebar-menu li.active,
.sidebar-menu a:hover,
.sidebar-menu a.active {
  color: #FE3D2B;
}
.sidebar-menu li:hover a, .sidebar-menu li.active a,
.sidebar-menu a:hover a,
.sidebar-menu a.active a {
  color: #FE3D2B;
}

/*SERVICES SECTION*/
.services-info-section {
  overflow-x: hidden;
}
.services-info-section .box-item {
  margin-bottom: 30px;
}
.services-info-section .services-image {
  margin-bottom: 30px;
}
.services-info-section .services-image img {
  width: 100%;
}
.services-info-section .services-text {
  margin-bottom: 30px;
}
.services-info-section .services-text .text {
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.9;
}

/*PRODUCT SECTION*/
.product-section {
  padding: 50px 0;
}
.product-section .product {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}
.product-section .product img {
  width: 100%;
  transition: 0.4s ease all;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-section .product img:hover {
  overflow: hidden;
  transform: scale(1.1);
}

.box-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.box-item .text {
  font-size: 13px;
  margin-top: 10px;
}
.box-item .img {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100px;
}
.box-item .img img {
  width: 65%;
}

/*GALLERY SECTİON*/
.gallery-section {
  margin: 40px 0;
}
.gallery-section .gallery-item {
  margin-bottom: 20px;
  display: block;
  overflow: hidden;
}
.gallery-section .gallery-item .overlay {
  height: 300px !important;
}
.gallery-section .gallery-item img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: 0.4s ease all;
}
.gallery-section .gallery-item img:hover {
  transform: scale(1.1);
}

.image-gallery {
  overflow: hidden;
  position: relative;
  transition: 0.4s ease all;
}
.image-gallery:hover img {
  transform: scale(1.1);
}
.image-gallery:hover .overlay {
  opacity: 1;
  height: 100%;
}
.image-gallery:hover .overlay.overlay-video {
  background-color: rgba(201, 26, 31, 0.5);
}
.image-gallery img {
  width: 100%;
  transition: 0.4s ease all;
}
.image-gallery .overlay {
  transition: 0.4s ease all;
  position: absolute;
  top: 0;
  background-color: rgba(201, 26, 31, 0.5);
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-gallery .overlay.overlay-video {
  transition: 0.4s ease all;
  position: absolute;
  top: 0;
  background-color: transparent;
  left: 0;
  width: 100%;
  height: 300px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-gallery .overlay.overlay-video i {
  font-size: 22px;
  color: #fff;
  background-color: #FE3D2B;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-gallery .overlay i {
  font-size: 40px;
  color: #fff;
}

.contact-section {
  margin: 40px 0;
}
.contact-section .contact-section-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
}
.contact-section .contact-section-top .contact-left {
  padding: 40px 0 40px 40px;
}
.contact-section .contact-section-top .contact-left .address-list li {
  margin-bottom: 20px;
  color: #030303;
  font-weight: bold;
}
.contact-section .contact-section-top .contact-left .address-list li a {
  color: #303030;
}
.contact-section .contact-section-top .contact-left .address-list li div {
  font-weight: normal;
}
.contact-section .contact-section-top .contact-left .social-list {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.contact-section .contact-section-top .contact-left .social-list li {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.4s ease all;
}
.contact-section .contact-section-top .contact-left .social-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  transition: 0.4s ease all;
}
.contact-section .contact-section-top .contact-left .social-list li a:hover {
  transform: translateY(-2px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contact-section .contact-section-top .contact-left .social-list li a i {
  color: #fff;
  font-size: 15px;
}

.contact-form-container {
  margin: 20px 0 90px;
}
.contact-form-container .contact-form {
  max-width: 850px;
  border-radius: 6px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 100%;
  border-radius: 4px;
}
.contact-form-container .contact-form .contact-form-top {
  border-radius: 5px 5px 0 0;
  padding: 20px 30px;
  color: #fff;
  background-color: #FE3D2B;
}
.contact-form-container .contact-form .contact-form-top .box {
  margin-bottom: 20px;
}
.contact-form-container .contact-form .contact-form-top .box:last-child .item {
  border: none;
}
.contact-form-container .contact-form .contact-form-top .box .item {
  border-right: 1px solid #D6D6D6;
}
.contact-form-container .contact-form .contact-form-top .box .item .icon {
  font-size: 25px;
  margin-bottom: 10px;
}
.contact-form-container .contact-form .contact-form-top .box .item span {
  letter-spacing: 0.6px;
}
.contact-form-container .contact-form .contact-form-top .box .item ul li {
  margin-right: 10px;
  width: 36px;
  border-radius: 3px;
  background-color: #fff;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form-container .contact-form .contact-form-top .box .item ul li a {
  color: #FE3D2B;
}
.contact-form-container .contact-form .contact-form-bottom {
  padding: 10px 30px;
}
.contact-form-container .contact-form .contact-form-bottom .form-title {
  margin: 20px 0;
}
.contact-form-container .contact-form .contact-form-bottom form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form-container .contact-form .contact-form-bottom form input,
.contact-form-container .contact-form .contact-form-bottom form textarea {
  width: 70%;
  border-bottom: 2px solid #ddd;
}
.contact-form-container .contact-form .contact-form-bottom input {
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-bottom: 8px;
}
.contact-form-container .contact-form .contact-form-bottom textarea {
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  display: block;
  border: 2px solid #ddd;
}
.contact-form-container .contact-form .contact-form-bottom button {
  background-color: #FE3D2B;
  width: 130px;
  margin-bottom: 22px;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease all;
}
.contact-form-container .contact-form .contact-form-bottom button:hover {
  background-color: #C91A1F;
}

.section-title {
  margin-bottom: 20px;
  border-left: 3px solid #FE3D2B;
  padding-left: 10px;
}
.section-title .title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  position: relative;
  color: #3C3C3C;
  display: inline;
}
.section-title .title.title-sm {
  font-size: 22px;
}
.section-title .home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.section-title .home-link li {
  margin-right: 3px;
  font-size: 15px;
  display: block;
  color: #838383;
  font-weight: 400;
  letter-spacing: 0.6px;
  transition: 0.4s ease all;
}
.section-title .home-link li:hover, .section-title .home-link li.active-class {
  color: #FE3D2B;
}
.section-title .home-link li a {
  font-size: 15px;
  margin: 5px 0;
  display: block;
  color: #838383;
  font-weight: 400;
  letter-spacing: 0.6px;
  transition: 0.4s ease all;
}
.section-title .home-link li a:hover, .section-title .home-link li a.active {
  color: #FE3D2B;
}

.media .box {
  border-radius: 5px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  transition: 0.4s ease all;
}
.media .box::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  transition: 0.4s ease all;
  width: 0;
  background-color: #FE3D2B;
}
.media .box:hover::after {
  width: 100%;
}
.media .box .img {
  border-radius: 5px;
  overflow: hidden;
}
.media .box .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  transition: 0.4s ease all;
}
.media .box .img img:hover {
  transform: scale(1.1);
}
.media .box .content {
  padding: 10px;
  text-align: center;
}
.media .box .content .title {
  color: #303030;
  font-weight: 600;
  text-transform: uppercase;
  margin: 6px 0;
}
.media .box .content .text {
  font-size: 15px;
  font-weight: 400;
  color: #3C3C3C;
}
.media .box .content .box-bottom .read-more {
  padding: 10px 30px;
  color: #FE3D2B;
  border: 1px solid #FE3D2B;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 500;
  transition: 0.4s ease all;
  position: relative;
  display: inline-block;
  margin: 20px 0;
}
.media .box .content .box-bottom .read-more::after {
  background-color: #FE3D2B;
  position: absolute;
  content: "";
  left: 0;
  border-radius: 5px;
  top: 0;
  z-index: 1;
  width: 0;
  z-index: -1;
  height: 45px;
  transition: 0.4s ease all;
}
.media .box .content .box-bottom .read-more:hover::after {
  width: 100%;
}
.media .box .content .box-bottom .read-more:hover {
  color: #fff;
}

.production-section {
  margin: 50px 0;
}
.production-section .production-text {
  line-height: 1.7;
  font-size: 15px;
  color: #333333;
  font-weight: 400;
}
.production-section .production-image img {
  width: 100%;
}
.production-section .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  transition: 0.4s ease all;
}
.production-section .image img.certificate-img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 5px solid #ddd;
}

.section-1 .box {
  margin-bottom: 40px;
  border-radius: 3px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.section-1 .box .img {
  position: relative;
}
.section-1 .box .img:hover .overlay {
  padding: 7px;
  width: 100%;
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
.section-1 .box .img:hover .overlay .overlay-btn {
  opacity: 1;
}
.section-1 .box .img .overlay {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  height: 0%;
  transition: 0.5s;
  width: 0%;
  background-color: rgba(17, 17, 26, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1 .box .img .overlay .overlay-btn {
  background-color: #FE3D2B;
  color: #fff;
  width: 120px;
  opacity: 0;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}
.section-1 .box .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 240px;
}
.section-1 .box .content {
  padding: 15px;
}
.section-1 .box .content .title {
  font-weight: 600;
  margin: 6px 0;
}
.section-1 .box .content .box-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13.5px;
  color: #3C3C3C;
}

.section-2 .box {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: 0.4s ease all;
}
.section-2 .box:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.section-2 .box .img {
  border-radius: 5px;
  overflow: hidden;
}
.section-2 .box .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  transition: 0.4s ease all;
}
.section-2 .box .img img:hover {
  transform: scale(1.1);
}
.section-2 .box .content {
  padding: 10px;
  text-align: center;
}
.section-2 .box .content .title {
  color: #303030;
  font-weight: 600;
  text-transform: uppercase;
  margin: 6px 0;
}
.section-2 .box .content .text {
  font-size: 15px;
  font-weight: 400;
  color: #3C3C3C;
}
.section-2 .box .content .box-bottom .read-more {
  padding: 10px 34px;
  color: #FE3D2B;
  border: 1px solid #FE3D2B;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 500;
  transition: 0.4s ease all;
  position: relative;
  display: inline-block;
  margin: 20px 0;
}
.section-2 .box .content .box-bottom .read-more::after {
  background-color: #FE3D2B;
  position: absolute;
  content: "";
  left: 0;
  border-radius: 5px;
  top: 0;
  z-index: 1;
  width: 0;
  z-index: -1;
  height: 45px;
  transition: 0.4s ease all;
}
.section-2 .box .content .box-bottom .read-more:hover::after {
  width: 100%;
}
.section-2 .box .content .box-bottom .read-more:hover {
  color: #fff;
}

.section-inner .page-title {
  padding: 0 10px;
  margin-bottom: 30px;
  position: relative;
  border-left: 1px solid #FE3D2B;
}
.section-inner .page-title .title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 27px;
  color: #303030;
}
.section-inner .page-title .home-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-inner .page-title .home-link li {
  margin-right: 3px;
}
.section-inner .page-title .home-link li a {
  font-size: 16px;
  color: #838383;
  font-weight: 400;
  transition: 0.4s ease all;
}
.section-inner .page-title .home-link li a.active {
  color: #FE3D2B;
  font-weight: 500;
}
.section-inner .page-title .home-link li a:hover {
  color: #FE3D2B;
}
.section-inner .box img {
  width: 100%;
}
.section-inner .info-content .text-info-title {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  color: #3B3B3C;
}
.section-inner .info-content ul {
  margin: 12px 0;
  display: flex;
}
.section-inner .info-content ul li {
  color: #4B4B4D;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 400;
}
.section-inner .info-content ul li i {
  color: #FE3D2B;
}
.section-inner .info-content .text {
  line-height: 1.8;
  color: #626262;
}

.pagination .page-item .page-link {
  background-color: #FE3D2B;
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease all;
}
.pagination .page-item .page-link:hover {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1200px) {
  header.general-header .header-bottom .header-logo img {
    max-width: 220px;
    margin-top: -20px;
  }
  header.general-header .header-bottom .nav .nav-list {
    margin-left: 35px;
  }
  header.general-header .header-bottom .nav .nav-list .nav-item .nav-link {
    font-size: 15px;
    padding: 5px 10px !important;
  }
  .banner-section .banner-carousel .slider-item {
    padding: 230px 0 170px;
  }
  .banner-section.banner-section-2 .banner-carousel .slider-item {
    padding: 200px 0;
  }
  .section-info {
    background-image: none;
    padding: 40px 0;
  }
}
@media screen and (max-width: 992px) {
  .section-title .title {
    font-size: 23px;
  }
  .section-title .title.title-sm {
    font-size: 22px;
  }
  .section-title .title.title-sm::before {
    width: 30%;
    top: 15px;
  }
  .section-title .home-link li {
    font-size: 12px;
    letter-spacing: normal;
  }
  .section-title .home-link li a {
    font-size: 12px;
    letter-spacing: normal;
  }
  header.general-header {
    display: none;
  }
  header.header-mobile {
    display: block;
  }
  header.header-mobile .nav-menu-btn {
    font-size: 25px;
  }
  header.header-mobile .header-social-list {
    display: flex;
    align-items: center;
  }
  header.header-mobile .header-social-list li {
    width: 27px;
    height: 25px;
    background-color: #f1f1f1;
    border-radius: 3px;
    margin-right: 10px;
    transition: 0.4s ease all;
  }
  header.header-mobile .header-social-list li a {
    position: relative;
    color: #FE3D2B;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  .banner-section .banner-carousel .slider-item {
    padding: 190px 0 120px;
    height: 90vh;
  }
  .banner-section .banner-carousel .slider-item .content .title {
    font-size: 40px;
  }
  .banner-section .banner-carousel .slider-item .content .text {
    font-size: 16px;
    line-height: 1.8;
  }
  .sidebar-menu {
    margin-bottom: 40px;
    width: 50%;
  }
  .about-section {
    text-align: center;
    background: none;
  }
  .about-section .company_history .info-text {
    text-align: center;
  }
  .about-section .company_history .right-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .general-footer .footer-top .footer-block.footer-logo-block {
    align-items: flex-start;
  }
  .contact-form-container {
    padding: 0 50px;
  }
  .contact-form-container .contact-form-bottom {
    padding: 5px !important;
  }
}
@media screen and (max-width: 767px) {
  header.header-mobile .nav-menu-btn {
    font-size: 22px;
  }
  header.header-mobile .header-logo img {
    max-width: 180px;
    width: 100%;
  }
  header.header-mobile .header-social-list {
    display: flex;
    align-items: center;
  }
  header.header-mobile .header-social-list li {
    width: 24px;
    height: 22px;
    background-color: #f1f1f1;
    border-radius: 3px;
    margin-right: 10px;
    transition: 0.4s ease all;
  }
  header.header-mobile .header-social-list li a {
    position: relative;
    color: #FE3D2B;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  header.header-mobile .header-mobile-menu .header-search .search-form {
    width: 380px;
    height: 40px;
  }
  .banner-section .banner-carousel .slider-item {
    height: 65vh;
    padding: 100px 0 230px;
  }
  .banner-section .banner-carousel .slider-item .content .title {
    font-size: 30px;
  }
  .section-info a {
    margin-top: 20px;
  }
  .blog-section {
    background: none;
  }
  .general-footer .footer-top .footer-block {
    text-align: center !important;
  }
  .general-footer .footer-top .footer-block ul.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .general-footer .footer-top .footer-block .social-list,
.general-footer .footer-top .footer-block .address-list {
    justify-content: center;
  }
  .general-footer .footer-top .footer-block .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .general-footer .footer-top .footer-block.footer-logo-block {
    align-items: center;
  }
  .general-footer .footer-bottom {
    text-align: center;
  }
}
@media (max-width: 715px) {
  .contact-form-container {
    padding: 0 20px;
  }
  .contact-form-container .contact-form .contact-form-top {
    padding: 10px;
  }
  .contact-form-container .contact-form .contact-form-top .box .item {
    text-align: center;
  }
  .contact-form-container .contact-form .contact-form-top .box .item .icon {
    font-size: 19px;
  }
  .contact-form-container .contact-form .contact-form-top .box .item span {
    font-size: 14px;
    letter-spacing: 0.4px;
  }
  .contact-form-container .contact-form .contact-form-top .box .item ul li {
    margin-right: 5px;
    width: 30px;
    font-size: 13px;
    height: 30px;
  }
  .contact-form-container .contact-form .contact-form-bottom form input,
.contact-form-container .contact-form .contact-form-bottom form textarea {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .banner-section.banner-section-second .banner-carousel .slider-item {
    height: 45vh;
    padding: 0;
  }
  .banner-section .banner-carousel .slider-item {
    padding: 90px 0;
  }
  .banner-section .banner-carousel .slider-item .content .title {
    font-size: 27px;
  }
  .banner-section .banner-carousel .slider-item .content .text {
    font-size: 15px;
  }
  .contact-form-container .contact-form .contact-form-top {
    padding: 10px;
  }
  .contact-form-container .contact-form .contact-form-top .box .item {
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
  }
  .contact-form-container .contact-form .contact-form-top .box .item .icon {
    font-size: 19px;
  }
  .contact-form-container .contact-form .contact-form-bottom form input,
.contact-form-container .contact-form .contact-form-bottom form textarea {
    width: 100%;
  }
}
@media screen and (max-width: 412px) {
  header.header-mobile .header-mobile-menu .header-search .search-form {
    width: 310px;
    height: 40px;
  }
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
  left: 0;
}

.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active {
  background-color: #FE3D2B;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

/*keyframes*/
@-webkit-keyframes backto-top-bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes backto-top-bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}/*# sourceMappingURL=style.css.map */